body{
    background-color: rgba(226, 223, 223, 0.938);
}

header{
    background-color: rgb(219, 166, 18);
    text-align: center;
}
#menuh{    
    color: yellow;
    
    
    
    
}
.subtitulo{
    background-color: rgba(167, 164, 164, 0.801);
    font-size: 25px;
    color: rgb(68, 67, 67);
}

.bloco1{    
    width: 650px;    
    padding: 10px;
    float: left;
    position: relative;
    left: 185px;
    background-color: white;
    
    
    

    
    
}
.limpar{
    clear: both;
}
.bloco2{
    width: 255px;
    margin: 0%;
    padding: 5px;
    float: right;
    position: relative;
    right: 180px;
    background-color: white;
    
    

    
}
.postagens{
   margin-bottom: 5px;   
   width: 255px;
   margin: 0%;
   padding: 5px;
   float: right;
   position: relative;
   right: 180px;
   background-color: white;

}
.Categorias{       
    width: 255px;
    margin: 0%;
    padding: 5px;
    float: right;
    position: relative;
    right: 180px;
    top: -380px;
    background-color: white;
}

#leiamais{
    color: rgb(214, 214, 37);
    text-decoration: none;
   
}
.psemmargem{
    margin-bottom: 0px;
}


