body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-image: url(imagens/renderizacao-psd-3d-do-plano_460336-2244.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    
}
nav{
    font-size: 15px;
    min-width: 100%;
    
}

a img {
    
    width: 50px;
    height:50px;
    }
#projetos{
    
    
}
header{
    width: 100%;
    
    
}
main{
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}
li{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.texto-centro{
    text-align: center;
}
.texto-azul{
    color: blue;
}
.menu{
    font-size: 15px;
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}