body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    
    
}

header{
    border: 1px solid black;
    width: 100%;
    height: 150px;
    background-image:url(img/fundo.png);
}
#link-museu {  
    border: 1px solid red;
    width: 350px;
    display: flex;
    flex-wrap: nowrap;
    
    
    
}


.menu ul{
    
    margin-right: 50px;
    padding: 20px; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    font-size: 0.4em ;
    
    
}

li {
    
    color: #A86E13;
    list-style-type: none;
    
}

a{
    margin: 10px;
    color:#A86E13;
    text-decoration: none;
    
}

a:hover{
    color: green;
    text-decoration: underline;
}
span{
    color: white;
}
